*.iml
.idea/
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
Будет удалено .gitignore
Будет удалено build.gradle
Будет удалено libs/
Будет удалено proguard-rules.pro
Будет удалено src/
